<div id="debug"></div>

<div>
    <span id="sequence_1"><img class="sequence" src='assets/img/{{ sequence_step_view[0] }}.jpg'></span>
    <span id="sequence_2"><img class="sequence" src='assets/img/{{ sequence_step_view[1] }}.jpg'></span>
    <span id="sequence_3"><img class="sequence" src='assets/img/{{ sequence_step_view[2] }}.jpg'></span>
    <span id="sequence_4"><img class="sequence" src='assets/img/{{ sequence_step_view[3] }}.jpg'></span>
</div>


<div ng-show="debug">
    <span id="sequence_1"><img class="secret_sequence" src='assets/img/{{ secret_sequence[0]}}.jpg'></span>
    <span id="sequence_2"><img class="secret_sequence" src='assets/img/{{ secret_sequence[1]}}.jpg'></span>
    <span id="sequence_3"><img class="secret_sequence" src='assets/img/{{ secret_sequence[2]}}.jpg'></span>
    <span id="sequence_4"><img class="secret_sequence" src='assets/img/{{ secret_sequence[3]}}.jpg'></span>
</div>


<div>
    <span id="arrow_1"><img src='assets/img/{{ arrow_step[0]}}.png'></span>
    <span id="arrow_2"><img src='assets/img/{{ arrow_step[1]}}.png'></span>
    <span id="arrow_3"><img src='assets/img/{{ arrow_step[2]}}.png'></span>
    <span id="arrow_4"><img src='assets/img/{{ arrow_step[3]}}.png'></span>
</div>
